/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  border: 1px solid yellow;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.header-logo-img {
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
}

ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  gap: 16px;
}

.header-logo {
  font-size: 24px;
  color: #F8FAF8;
}

.header_bottom-left-text, .header-links {
  font-size: 18px;
  color: #E5E7EB;
}

.header_bottom-left-title {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.header_bottom-left, .header_bottom-right {
  flex: 1;
}

.header_bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
}

.header-button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 5px;
  margin-top: 8px;
  border: 1px;
  padding: 8px 16px;
}

/* INFO */

.info {
  padding: 32px;
}

.info-header {
  font-size: 36px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
  border: 1px solid blue;
  border-radius: 5px;
}

.card-text {
  text-align: center;
}

/* QUOTE SECTION */

.quote-section {
  display: flex;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 32px;
}

.quote-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  min-width: 400px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote-signature {
  text-align: right;
  margin-right: 32px;
}

/* SIGN UP SECTION */

.signup {
  display: flex;
  justify-content: center;
}

.signup-block {
  display: flex;
  padding: 32px;
}

.signup-content {
  display: flex;
  justify-content: center;
  padding: 32px;
  gap: 16px;
  background-color: #3882F6;
  border-radius: 5px;
  color: #F8FAF8;
}

.signup-content-text-title {
  font-weight: 600;
}

.signup-content-button {
  flex-shrink: 0;
  border-radius: 5px;
  background-color: Transparent;
  border-color: #F8FAF8;
  border: 1px solid;
  outline:none;
  padding-left: 16px;
  padding-right: 16px;
  color: #F8FAF8;
}

/* FOOTER */
.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  font-size: 18px;
  color: #E5E7EB;
}